<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class='table-responsive'>
        <table class="table table-striped zacks_earnings">
          <tr>
            <th>Symbol:</th>
            <th>Company </th>
            <th>Report Time</th>
            <th>Estimate</th>
            <th>Reported</th>
            <th>Surprise</th>
          </tr>
          <% @zacks_earnings.each do |e| %>
            <tr>
              <td><%= e.symbol %></td>
              <td><%= e.company %></td>
              <td><%= e.created_at.strftime("%m-%d-%Y") %></td>
              <td><%= e.estimate %></td>
              <td><%= e.reported %></td>
              <td><%= e.surprise %></td>
            </tr>
          <% end %>
          <table>
      </section>
    </div>
  </div>
</div>

<%= form_for zacks_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>

<div id="zacks_earnings">
  <% @earnings.each do |e| %>
  <div>
    <%= e.surprise %>
    </div>
  <% end %>
</div>
