<section class='table-responsive'>
  <table id="" class="table table-striped" >
    <tr>
      <th>Symbol:</th>
      <th>Earnings </th>
      <th>Expectation</th>
      <th>Year Ago Earnings</th>
      <th>Revenue</th>
      <th>Released</th>
    </tr>
      <% @briefings_earnings.each do |e| %>
        <tr>
          <td><%= e.symbol %></td>
          <td><%= e.earnings %></td>
          <td><%= e.expectation %></td>
          <td><%= e.year_ago_earnings %></td>
          <td><%= e.revenue %></td>
          <td><%= e.saved_on.strftime("%m-%d-%Y") %></td>
        </tr>
      <% end %>
    <table>
</section>
